* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #333;
}

.header {
  display: flex;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.left__zone {
  padding-top: 15px;
  padding-bottom: 25px;
  margin-right: 50px;
  justify-content: center;
}

.name {
  display: flex;
  font-size: 28px;
  font-weight: 700;
  padding-left: 10px;
  line-height: 31px;
}

.me {
  display: flex;
}

.photo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 200px;
  border-radius: 200px;
}



.contacts {
  margin-top: 20px;
  background-color: #fcf2e6;
  left: 0;
  border-radius: 60px;
  padding: 30px;
  min-width: fit-content;
  max-width: fit-content;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #25bec9;
  font-weight: 900;
}

.contact__item>a:hover {
  border-bottom: 1px solid #25bec9;
  font-size: 17px;
  transition: 0.2s;
}

.contact__item {
  margin-left: 3rem;
  font-weight: 700;
}

.education {
  position: relative;
  padding-left: 20px;
}

.right__zone {
  padding-top: 15px;
  padding-bottom: 25px;
  padding-left: 20px;
  background-color: #fcf2e6;
}

.year {
  font-family: 'Work Sans', sans-serif;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 1rem;
  font-size: 25px;
  font-weight: 700;
  margin-left: 2rem;
}

.text {
  width: 80%;
  margin: 1rem;
}

.text>a {
  text-decoration: none;
  cursor: pointer;
  color: #25bec9;
  font-weight: 900;
}

.text>a:hover {
  border-bottom: 1px solid #25bec9;
  font-size: 17px;
  transition: 0.2s;
}

@media screen and (max-width:992px) {
  .main {
    width: 100%;
    display: block;
    justify-content: center;
  }

  .contacts {
    margin-top: 5px;
    margin-bottom: 10px;
    left: 0;
    border-radius: 10px 50px 50px 10px;
    padding: 10px;
  }

  .contact__item {
    margin-left: 20px;
    font-weight: 700;
  }

  .img {
    text-align: center;
  }

  .left__zone {
    width: 100%;
  }

  .text {
    margin-left: 2em;
  }

  .me > .name {
    font-size: 20px;
  }
}